<div class="row card text-center cardDark" name="cardMedia" style="font-family: 'Inter', sans-serif;">
    <div class="{{dataSocial.color}}"></div>
    <div class="card-body">
        <div class="col-12" style="padding-bottom: 15px;font-size: 11px;color: #6a6d79;">
            <img class="iconMedia"  style="background-image: url('{{dataSocial.icon}}');">
            <span>&nbsp;{{dataSocial.user}}</span>
        </div>
        <div class="col-12">
            <h1>{{dataSocial.cantFollowers}}</h1>
            <span style="color:#536579;">F O L L O W E R S</span>
        </div>
        <div class="col-12" style="padding-top: 15px;">
            <img class="iconStatus"  style="background-image: url('{{dataSocial.Icon2}}');">
            <span class="{{dataSocial.colorText}}">&nbsp;&nbsp;{{dataSocial.cantToday}}</span>
        </div>
    </div>
</div>

