<div class="row card text-center cardDark" name="cardMedia" style="font-family: 'Inter', sans-serif;">
     <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6" style="font-size: 10px;">
                        <span style="color:#536579">{{dataToday.item}}</span>
                    </div>
                    <div class="col-6">
                        <img class="iconMedia"  style="background-image: url('{{dataToday.iconT}}');">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h2 style="font-family: 'Inter', sans-serif;font-weight: 400;">{{dataToday.cantItem}}</h2>
                    </div>
                    <div class="col-6">
                        <div class="col-12" style="padding-top: 15px;">
                            <img class="iconStatus"  style="background-image: url('{{dataToday.Icon2}}');">
                            <span class="{{dataToday.colorText}}">&nbsp;&nbsp;{{dataToday.porcent}}</span>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
